/*fonts*/
$primaryFont: "OpenSans", Arial, sans-serif;
$headerFont: "OpenSans-Bold", Arial, sans-serif;
$cardFont: "Montserrat-Bold", Arial, sans-serif;
/*colors*/
$buttonColor: #E24C2C;
$priceHeader-LinkColor: #3D8F85;
$footerColor: #2A1818;

$headFontColor: #333333;
$commentsFontColor: #646464;
$priceFontColor: #585858;
$inputFontColor: #B6B6B6;

